currency-codes==23.6.4
langchain==0.2.11
langchain-community==0.2.10
langchain-google-vertexai==1.0.7
streamlit==1.36.0
google-cloud-aiplatform==1.59.0
google-cloud-discoveryengine==0.11.14
pydantic==2.8.2
python-decouple==3.8
tenacity==8.5.0
typing-inspect==0.9.0
typing_extensions==4.12.2
