beautifulsoup4==4.13.5
currency-codes==23.6.4
langchain==0.3.27
langchain-community==0.3.30
langchain-google-vertexai==2.1.2
streamlit==1.49.1
google-cloud-aiplatform==1.115.0
google-cloud-discoveryengine==0.13.11
google-genai==1.38.0
pandas==2.3.2
pydantic==2.11.9
python-decouple==3.8
tqdm==4.67.1
typing-inspect==0.9.0
typing_extensions==4.15.0
