langchain==0.2.1
langchain-community==0.0.29
langchain-google-vertexai==0.1.1
streamlit==1.32.2
google-cloud-aiplatform==1.44.0
google-cloud-discoveryengine==0.11.10
pydantic==2.6.4
typing-inspect==0.9.0
typing_extensions==4.10.0